/* CSS Document */

/* ##### HARVEYS - FONTS ##### */
@font-face {
    font-family: 'Muller';
    src: url('../fonts/muller-extrabold-demo-webfont.eot');
    src: url('../fonts/muller-extrabold-demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-extrabold-demo-webfont.woff2') format('woff2'),
         url('../fonts/muller-extrabold-demo-webfont.woff') format('woff'),
         url('../fonts/muller-extrabold-demo-webfont.ttf') format('truetype'),
         url('../fonts/muller-extrabold-demo-webfont.svg#mullerextrabold_demo') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/muller-thin-demo-webfont.eot');
    src: url('../fonts/muller-thin-demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-thin-demo-webfont.woff2') format('woff2'),
         url('../fonts/muller-thin-demo-webfont.woff') format('woff'),
         url('../fonts/muller-thin-demo-webfont.ttf') format('truetype'),
         url('../fonts/muller-thin-demo-webfont.svg#mullerthin_demo') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Raiders Raleway';
    src: url('../fonts/raleway-black-webfont.eot');
    src: url('../fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff'),
         url('../fonts/raleway-black-webfont.ttf') format('truetype'),
         url('../fonts/raleway-black-webfont.svg#mullerextrabold_demo') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Raiders Raleway';
    src: url('../fonts/raleway-extraLight-webfont.eot');
    src: url('../fonts/raleway-extraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extraLight-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extraLight-webfont.woff') format('woff'),
         url('../fonts/raleway-extraLight-webfont.ttf') format('truetype'),
         url('../fonts/raleway-extraLight-webfont.svg#mullerthin_demo') format('svg');
    font-weight: 100;
    font-style: normal;
}
/* ##### END HARVEYS - FONTS ##### */


body.harveys{min-height:100vh;font-family:Lato,Raleway,Helvetica,Arial,sans-serif;}
	body.harveys h1,
	body.harveys h2,
	body.harveys h3,
	body.harveys h4,
	body.harveys h5,
	body.harveys h6{font-family:'Raiders Raleway',Raleway,'Muller',Lato,Helvetica,Arial,sans-serif;font-weight:100;}
		body.harveys h1 b,
		body.harveys h1 strong,
		body.harveys h2 b,
		body.harveys h2 strong,
		body.harveys h3 b,
		body.harveys h3 strong,
		body.harveys h4 b,
		body.harveys h5 strong,
		body.harveys h5 b,
		body.harveys h5 strong,
		body.harveys h6 b,
		body.harveys h6 strong{font-weight:900;}


/* ##### GLOBAL - HEADER ##### */
body.harveys .header_inner .q_logo img{height:90px !important;margin-top:25px;}
	body.harveys.ie .header_inner .q_logo img{width:210px !important;}
body.harveys #har-header-tagline{display:block;position:absolute;top:40px;right:0px;width:50vw;color:#fff;font-size:16px;text-align:right;}
	body.harveys #har-header-tagline a{color:#fff;font-weight:900;text-decoration:none;border:1px solid #fff;padding:7px;margin-left:10px;}
		body.harveys #har-header-tagline a:hover{color:#00aeef;}

@media (max-width:1017px){
	body.harveys #har-header-tagline{display:none;}
}

body.harveys nav.main_menu{}
	body.harveys nav.main_menu ul{right:-8%;}
		body.harveys nav.main_menu ul li a{color:#fff !important;font-size:16px;font-weight:900;line-height:40px !important;margin-top:80px;}
			body.harveys nav.main_menu ul li a:hover{color:#00aeef !important;}

	body.harveys.xs header .header_top_bottom_holder,
	body.harveys.sm header .header_top_bottom_holder{height:150px;background-color:#073d5e;}
/* ##### END GLOBAL - HEADER ##### */


/* ##### GLOBAL - CONTENT ##### */
body.harveys .container_inner{width:auto;max-width:1200px;margin:0px auto;}

body.harveys .content{margin-top:0px !important;}
@media (min-width:1001px){
	body.harveys:not(.xs) .content{padding-top:140px;}
}
	
	body.harveys .content_inner{}
		body.harveys .content_inner > .container{}
			body.harveys .content_inner > .container > .container_inner{width:auto;max-width:none;padding-top:0px;}
			
				body.harveys .content_inner > .container > .container_inner > .section{background-size:auto;}
					body.harveys .content_inner > .container > .container_inner > .section.grid_section,
					body.harveys .content_inner > .container > .container_inner > .section > .full_section_inner{max-width:1200px;margin:0px auto;}
				
					@media (max-width:1220px){
						body.harveys .content_inner > .container > .container_inner > .section.grid_section,
						body.harveys .content_inner > .container > .container_inner > .section > .full_section_inner{padding-left:10px;padding-right:10px;}
					}
				
	body.harveys.single .content{}
		body.harveys.single .content_inner{}
			body.harveys.single .content_inner .container{}
				body.harveys.single .content_inner .container > .container_inner{width:auto;max-width:1200px;margin:0px auto;}
/* ##### END GLOBAL - CONTENT ##### */


/* ##### GLOBAL - FOOTER ##### */
body.harveys .footer_top{padding-top:30px;padding-bottom:10px;}
	body.harveys .footer_top h5{margin:0 0 5px;font-weight:900;font-size:16px;text-transform:uppercase;}
	body.harveys .footer_top .widget_nav_menu li{font-size:16px;line-height:16px;padding:0 0 10px;font-family:'Muller',Lato,Raleway,Helvetica,Arial,sans-serif;font-weight:300;}
		body.harveys .footer_top .widget_nav_menu li a:hover{color:#00aeef !important;}
	body.harveys .footer_top .column4{text-align:right;}
		body.harveys .footer_top .column4 img{margin-bottom:10px;}
			body.harveys .footer_top .column4 .har-logo-footer{width:80%;}
			body.harveys .footer_top .column4 .har-arrows-footer{width:25%;}
		body.harveys .footer_top .column4 a{display:block;clear:both;font-size:24px;font-family:'Muller',Lato,Raleway,Helvetica,Arial,sans-serif;font-weight:900;}
			body.harveys .footer_top .column4 a:hover{color:#00aeef !important;}
body.harveys .footer_bottom_holder{padding-bottom:30px;}
	body.harveys .footer_bottom_holder .two_columns_50_50,
	body.harveys .footer_bottom_holder .footer_bottom_border{max-width:1200px;margin:0px auto;}
	body.harveys ul.har-footer-sm{list-style:none;padding:0px;}
		body.harveys ul.har-footer-sm li{display:inline-block;margin:10px 10px 0px 0px;}
			body.harveys ul.har-footer-sm li a{display:block;width:35px;height:35px;background-size:cover;background-position:center center;background-repeat:no-repeat;}
				body.harveys ul.har-footer-sm li.har-footer-sm-fb a{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/06/social-1-fb.svg);}
				body.harveys ul.har-footer-sm li.har-footer-sm-ig a{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/06/social-2-ig.svg);}
				body.harveys ul.har-footer-sm li.har-footer-sm-tw a{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/06/social-3-tw.svg);}
				body.harveys ul.har-footer-sm li.har-footer-sm-pi a{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/06/social-4-pi.svg);}
				body.harveys ul.har-footer-sm li.har-footer-sm-em a{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/06/social-5-em.svg);}
				body.harveys ul.har-footer-sm li a span{display:none;}
	body.harveys .footer_bottom_holder .column2 .textwidget{color:#fff;font-size:16px;vertical-align:bottom;padding-bottom:5px;}
	
	body.harveys.md .footer_top_holder,
	body.harveys.md .footer_bottom_holder,
	body.harveys.sm .footer_top_holder,
	body.harveys.sm .footer_bottom_holder,
	body.harveys.xs .footer_top_holder,
	body.harveys.xs .footer_bottom_holder{padding:10px;}
		body.harveys.xs .footer_top,
		body.harveys.xs .footer_top .column4{text-align:center !important;}
			body.harveys.xs .footer_top .column4 .har-logo-footer{width:50%;}
			body.harveys.xs .footer_top .column4 .har-arrows-footer{width:15%;}
/* ##### END GLOBAL - FOOTER ##### */


/* ##### PAGE - HOME ##### */
body.harveys.home{}
	body.harveys.home .har-drop-shadow{-moz-box-shadow:0px 10px 12px #CCC;-webkit-box-shadow:0px 10px 12px #CCC;box-shadow:0px 10px 12px #CCC;z-index:1;}
	body.harveys.home .harTickList ul{list-style:none;padding:0px;text-align:center;}
	body.harveys.home .harTickList ul li{display:inline-block;height:35px;line-height:35px;margin:50px 20px;font-size:24px;background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/06/tick.png);background-position:left center;background-repeat:no-repeat;padding-left:40px;}
	
		body.harveys.home.xs h1{font-size:24px;}
		body.harveys.home.xs h3{font-size:24px;}
		body.harveys.home.xs .harTickList ul li{margin:10px 20px;font-size:18px;background-size:21px 24px;padding-left:30px;}
		
	/* ##### PAGE - HOME - TWILIO ROW ##### */
	body.harveys.home .har-row-twilio{}
			body.harveys.home .har-row-twilio h3{font-size}
			body.harveys.home .har-row-twilio .qbutton{display:block;max-width:100%;min-height:75px;margin:0px auto 20px;padding:15px 20px;background-position:7px center;background-repeat:no-repeat;background-size:60px auto;text-transform:uppercase;white-space:normal;
				-webkit-box-sizing:border-box !important;
				   -moz-box-sizing:border-box !important;
						box-sizing:border-box !important;
				-webkit-box-shadow:2px 2px 10px rgba(0,0,0,0.25);
				   -moz-box-shadow:2px 2px 10px rgba(0,0,0,0.25);
						box-shadow:2px 2px 10px rgba(0,0,0,0.25);
					-webkit-transition:all 0.5s ease-in-out;
					   -moz-transition:all 0.5s ease-in-out;
						-ms-transition:all 0.5s ease-in-out;
						 -o-transition:all 0.5s ease-in-out;
							transition:all 0.5s ease-in-out;
			}
				body.harveys.home .har-row-twilio .qbutton:hover{
					-webkit-box-shadow:5px 5px 15px rgba(0,0,0,0.35);
					   -moz-box-shadow:5px 5px 15px rgba(0,0,0,0.35);
							box-shadow:5px 5px 15px rgba(0,0,0,0.35);
				}
				
				body.harveys.home .har-row-twilio .qbutton#bar-service-locksmith,
				body.harveys.home .har-row-twilio .qbutton#bar-service-security{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/07/icon-lock.png);}
				body.harveys.home .har-row-twilio .qbutton#bar-service-bondClean{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/07/icon-spray.png);}
				body.harveys.home .har-row-twilio .qbutton#bar-service-pressureClean,
				body.harveys.home .har-row-twilio .qbutton#bar-service-graffiti{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/07/icon-hose.png);}
				body.harveys.home .har-row-twilio .qbutton#bar-service-handyman{background-image:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/07/icon-tools.png);}
				
				body.harveys.home .har-row-twilio .qbutton::before{content:' ';display:block;position:absolute;left:75px;top:0px;bottom:0px;width:1px;
					/* FF3.6-15 */								background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
					/* Ch10-25,Sa5.1-6 */						background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
					/* W3C, IE10+, FF16+, Ch26+, Op12+, Sa7+ */	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
					/* IE6-9 */									filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
				}
				
				body.harveys.home .har-row-twilio .qbutton > span{position:absolute;left:20px;right:20px;top:50%;padding-left:75px;
					-webkit-transform:translateY(-50%);
					   -moz-transform:translateY(-50%);
						-ms-transform:translateY(-50%);
						 -o-transform:translateY(-50%);
							transform:translateY(-50%);
				}
				
				body.harveys.home .har-row-twilio .qbutton#bar-service-other{}
					body.harveys.home .har-row-twilio .qbutton#bar-service-other::before{display:none;}
					body.harveys.home .har-row-twilio .qbutton#bar-service-other > span{padding-left:0px;}
		
		body.harveys.home.xs .har-row-services{text-align:center;}
			body.harveys.home.xs .har-row-services .har-row-services-copy{padding-right:0px;margin-left:0px;}
			body.harveys.home.sm .har-row-services .har-row-services-copy{margin-left:-40px;}
			body.harveys.home.md .har-row-services .har-row-services-copy{margin-left:-80px;}
				body.harveys.home.xs .har-row-services h4{font-size:24px;}
	/* ##### END PAGE - HOME - TWILIO ROW ##### */
	
	
	/* ##### PAGE - HOME - SERVICES ROW ##### */
	body.harveys.home .har-row-services .har-row-services-copy{padding-right:40px;}
		body.harveys.home .har-row-services p{margin-bottom:30px;font-size:16px;}
		body.harveys.home .har-row-services a.qbutton{font-family:'Muller',Lato,Raleway,sans-serif;padding:10px 20px;}
			body.harveys.home .har-row-services .wpb_single_image + a.qbutton{display:none;}
		
		@media(max-width:767px){
			body.harveys.home .har-row-services a.qbutton{display:none;}
				body.harveys.home .har-row-services .wpb_single_image + a.qbutton{display:block;max-width:150px;text-align:center;}
		}
		
		body.harveys.home .har-row-services .har-bg-grey{background-color:rgba(0, 0, 0, 0.1);}
			body.harveys.home .har-row-services .har-bg-grey img{width:80%;}
		body.harveys.home .har-row-services ul{color:#073d5e;font-size:16px;}
		
		@media(min-width:1200px){
			body.harveys.home .har-row-services .har-bg-grey.wpb_column:last-child{}
				body.harveys.home .har-row-services .har-bg-grey.wpb_column:last-child::after{content:' ';display:block;position:absolute;left:100%;top:0px;bottom:0px;width:calc(50vw - 600px);background-color:rgba(0, 0, 0, 0.1);}
		}
		
		body.harveys.home.xs .har-row-services{text-align:center;}
			body.harveys.home.xs .har-row-services .har-row-services-copy{padding-right:0px;margin-left:0px;}
			body.harveys.home.sm .har-row-services .har-row-services-copy{margin-left:-40px;}
			body.harveys.home.md .har-row-services .har-row-services-copy{margin-left:-80px;}
				body.harveys.home.xs .har-row-services h4{font-size:24px;}
	/* ##### END PAGE - HOME - SERVICES ROW ##### */
	
	
	body.harveys.home .har-call-fixClean a{color:#00aeef;text-decoration:none;font-weight:900;}
		body.harveys.home .har-call-fixClean .har-break{display:none;}
	
		body.harveys.home.xs .har-call-fixClean h6,
		body.harveys.home.xs .har-call-fixClean a{font-size:24px !important;}
			body.harveys.home.xs .har-call-fixClean .har-break{display:block;}
/* ##### END PAGE - HOME ##### */


/* ##### PAGE - SERVICE REQUEST FORM ##### */
body.harveys.har-page-request{background:url(http://dev.theraiders.com.au/2016/harveys/wp-content/uploads/2016/06/content-bg-texture-lg.jpg) left top repeat #f6f6f6;}
	
	body.harveys.har-page-request .wrapper,
	body.harveys.har-page-request .content,
	body.harveys.har-page-request .content_inner > .container,
	body.harveys.har-page-request .content_inner > .container > .container_inner > .section{background-color:transparent !important;}
	
	body.harveys.har-page-request > .wrapper > .wrapper_inner > header{}
	
	body.harveys.har-page-request #har-header-tagline{top:50%;
		-webkit-transform:translateY(-50%);
		   -moz-transform:translateY(-50%);
			-ms-transform:translateY(-50%);
			 -o-transform:translateY(-50%);
				transform:translateY(-50%);
	}
	body.harveys.har-page-request nav.main_menu,
	body.harveys.har-page-request > .wrapper > .wrapper_inner > #back_to_top,
	body.harveys.har-page-request > .wrapper > .wrapper_inner > footer{display:none !important;}
/* ##### END PAGE - SERVICE REQUEST FORM ##### */



/* ##### MODULE - TESTIMONALS CAROUSEL ##### */
body.harveys .testimonials_c_holder{}
	body.harveys .testimonials_c_holder .testimonial_text_inner p:not(.testimonial_author){font-style:italic;}
		body.harveys .testimonials_c_holder .testimonial_text_inner p:not(.testimonial_author)::before{content:'\201C';}
		body.harveys .testimonials_c_holder .testimonial_text_inner p:not(.testimonial_author)::after{content:'\201D';}
	body.harveys .testimonials_c_holder .testimonial_content_inner{padding:20px 45px;}
	body.harveys .testimonials_c_holder .flex-control-nav{margin-top:10px;}
/* ##### END MODULE - TESTIMONALS CAROUSEL ##### */



/* ##### MODULE: EQUALISED/VC COLUMNS ##### */
body.harveys .vc_row.har-cols-vc.har-cols-equalised{}
	body.harveys .vc_row.har-cols-vc.har-cols-equalised > .vc_row-inner,
	body.harveys .vc_row.har-cols-vc.har-cols-equalised > .full_section_inner{}
		body.harveys .vc_row.har-cols-vc.har-cols-equalised > .vc_row-inner > .vc_column_container,
		body.harveys .vc_row.har-cols-vc.har-cols-equalised > .full_section_inner > .vc_column_container{}
			body.harveys:not(.xs) .vc_row.har-cols-vc.har-cols-equalised > .vc_row-inner > .vc_column_container > .vc_column-inner,
			body.harveys:not(.xs) .vc_row.har-cols-vc.har-cols-equalised > .full_section_inner > .vc_column_container > .vc_column-inner{}
				body.harveys:not(.xs) .vc_row.har-cols-vc.har-cols-equalised > .vc_row-inner > .vc_column_container > .vc_column-inner > .wpb_wrapper,
				body.harveys:not(.xs) .vc_row.har-cols-vc.har-cols-equalised > .full_section_inner > .vc_column_container > .vc_column-inner > .wpb_wrapper{position:absolute;top:50%;
					-webkit-transform:translateY(-50%);
					   -moz-transform:translateY(-50%);
						-ms-transform:translateY(-50%);
						 -o-transform:translateY(-50%);
							transform:translateY(-50%);
				}
			
body.harveys .vc_row.har-cols-eq.har-cols-equalised{}
	body.harveys .vc_row.har-cols-eq.har-cols-equalised .vc_col-has-fill{}
		body.harveys .vc_row.har-cols-eq.har-cols-equalised .vc_col-has-fill > .vc_column-inner{height:100%;}
		
body.harveys.xs .vc_row.har-cols-vc.har-cols-equalised > .vc_row-inner > .vc_column_container > .vc_column-inner,
body.harveys.xs .vc_row.har-cols-vc.har-cols-equalised > .full_section_inner > .vc_column_container > .vc_column-inner{min-height:0px !important;}
/* ##### END MODULE: EQUALISED/VC COLUMNS ##### */



/* ##### PLUGIN - CRED ##### */
body.harveys .cred-form{}
	body.harveys .cred-form .form-row{}
		body.harveys .cred-form .form-row::after{content:' ';display:block;float:none;clear:both;height:0px;line-height:0px;overflow:hidden;visibility:hidden;opacity:0;}
	
		body.harveys .cred-form .form-row > div{margin-top:10px;padding-left:0px;padding-right:10px;}
			body.harveys.xs .cred-form .form-row > div{padding-left:15px;}
			
			body.harveys .cred-form .form-row .cred-label{text-align:right;}
				body.harveys.xs .cred-form .form-row .cred-label{text-align:left;}
			
			body.harveys .cred-form input[type="text"],
			body.harveys .cred-form input[type="email"],
			body.harveys .cred-form input[type="tel"],
			body.harveys .cred-form input[type="submit"],
			body.harveys .cred-form select,
			body.harveys .cred-form textarea{display:block;width:100% !important;padding:10px;background:#fff;border:1px solid #073D5E;font-family:Lato,Raleway,Helvetica,Arial,sans-serif;
				-webkit-box-shadow:2px 2px 10px rgba(0,0,0,0.25);
				   -moz-box-shadow:2px 2px 10px rgba(0,0,0,0.25);
						box-shadow:2px 2px 10px rgba(0,0,0,0.25);
				-webkit-box-sizing:border-box;
				   -moz-box-sizing:border-box;
						box-sizing:border-box;
			}
			
			body.harveys .cred-form input[type="submit"]{display:block;width:100%;padding:10px 0px;background:#073D5E;border:none;color:#fff;text-align:center;}
            	body.harveys .cred-form input[type="submit"]:hover{background:#00AEEF;}

body.harveys.xs .cred-form .form-row > div.vc_col-xs-12{padding-left:15px !important;padding-right:15px !important;}
/* ##### END PLUGIN - CRED ##### */



/* ##### PLUGIN - VISUAL COMPOSER ##### */
body.harveys .vc_col-has-fill>.vc_column-inner,
body.harveys .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,
body.harveys .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,
body.harveys .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
body.harveys .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,
body.harveys .vc_row-has-fill>.vc_column_container>.vc_column-inner,
body.harveys .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
body.harveys .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner{padding-top:0px;}

body.harveys.xs .vc_hidden-xs,
body.harveys.sm .vc_hidden-sm,
body.harveys.md .vc_hidden-md,
body.harveys.lg .vc_hidden-lg{display:none !important;}

body.harveys:not(.xs) .vc_visible-xs,
body.harveys:not(.sm) .vc_visible-sm,
body.harveys:not(.md) .vc_visible-md,
body.harveys:not(.lg) .vc_visible-lg{display:none !important;}
/* ##### END PLUGIN - VISUAL COMPOSER ##### */



/* ##### MISC ##### */
body.harveys a[href^="tel:"]{font-family:Lato,Helvetica,Arial,sans-serif !important;}
/* ##### END MISC ##### */



